<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="entry_form">
        <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Entry Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <% @entry.each do |entry| %>
  <div class="entry">
    <li id="entry-<%= entry.id %>">
      <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
      <span class="user"><%= link_to entry.user.name, entry.user %></span>
      <span class="content"><%= entry.title %></span>
      <span class="content"><%= entry.body %></span>
      <ul id = "comments_<%=entry.id%>">
        <%= render entry.comments %>
      </ul>
    </li>
  </div>
  <% end %>
<% end %>
