<%= form_for(@comment = entry.comments.build, remote: true ) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div>
          <%= hidden_field :comment, :entry_id %>
          <%= hidden_field_tag :user_id, current_user.id %>
        </div>
        <p>
          <br />
          <%= f.text_field :content, placeholder: "Comment ...", class: 'comment_content' %>
        </p>
    <% end %>